$base-font-size: 10px;

$color-white: #ffffff;
$color-black: #000000;

$color-black-cod: #101010;
$color-black-shaft: #202020;
$color-black-mine: #313131;

$color-white-smoke: #f4f4f4;
$color-white-dash: #f1f1f1;

$color-blurple: #7249F7;

$color-greyish: #b6b6b6;
$color-gallery: #eeeeee;

$color-purpleish-blue: #7249f7;


$color-grey-warm: #858585;