<section class="about-us" data-aos="flip-up">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="about-us__wrapper">
					<ul class="about-us__list">
						<li>
							<a href="http://innpoland.pl/135485,zebranie-34-mln-zl-zajelo-tej-firmie-pol-godziny-nowy-model-inwestowania-blyskawicznie-podbija-rynek" target="_blank"><img src="images/inn-poland.jpg" alt="INN:Poland"/></a>
						</li>
						<li>
							<a href="http://www.spidersweb.pl/2016/10/bitcoin-polska.html" target="_blank"><img src="images/spiders.jpg" alt="SPIDER'SWEB"/></a>
						</li>
						<li>
							<a href="https://steemit.com/loans/@mrwang/how-i-discovered-crypto-currency-and-loans-on-btcpop-and-getline" target="_blank"><img src="images/stemmit.png" alt="steemit"/></a>
						</li>
						<li>
							<a href="https://www.pb.pl/kryptopozyczanie-pohula-nad-wisla-855481" target="_blank"><img src="images/puls-biznesu.png" alt="puls biznesu"/></a>
						</li>
						<li>
							<a href="https://businessinsider.com.pl/firmy/strategie/reaktorx-rekrutacja-zostal-tylko-tydzien-na-zgloszenia/2mp82lv" target="_blank"><img src="images/business-insider.png" alt="business insider"/></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>