<section class="card">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<div class="card__anim" data-aos="">
				<div class="card__photo"></div>
				<div class="card__circle"></div>
				<div class="card__purple" data-parallax="50"></div>
				<div class="card__black" data-parallax="-50"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 card__col">
			<h3 class="g-title sliding-txt" data-aos="" data-aos-anchor=".card">
				<p><span>Borrowers from</span></p>
				<p><span>almost anywhere</span></p>
			</h3>
			<p class="g-subtitle" data-aos="fade-down" data-aos-delay="100" data-aos-anchor=".card">will be able to use our platform to attain a loan (in cryptocurrency or fiat)</p>
			<p class="g-desc card__desc" data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".card">Build a credit score, using our GET tokens as a collateral. Investors can choose from loan requests on our platform, view the profiles associated with them, and bit for the lowest interest rate.</p>
		</div>
	</div>
</section>