<section class="eth">
	<div class="container">
		<div class="col-xs-12 col-sm-7 col-md-5">
			<img src="images/svg/eth-logo.svg" alt="" class="eth__image" data-aos="flip-right" />
			<h3 class="g-title sliding-txt" data-aos="" data-aos-anchor=".eth">
				<p><span>We use Ethereum</span></p>
				<p><span>Smart Contracts</span></p>
			</h3>
			<p class="g-subtitle" data-aos="fade-down" data-aos-delay="100" data-aos-anchor=".eth">to handle the loan process.</p>
			<p class="g-desc" data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".eth">At this time, all loans must be paid back in a single repayment during the payback period.</p>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-7 eth__right">
			<img src="images/macbook.png" alt="" class="eth__macbook" data-aos="fade-left" />
			<img src="images/svg/ehtereum-background.svg" alt="" class="eth__bg" data-aos="fade-down" />
		</div>
	</div>
</section>