<section class="faq" data-aos="" id="faq">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="faq__half-circle"></div>
				<div class="faq__black-left"></div>
				<div class="faq__dots"></div>
				<div class="faq__black-right"></div>
				<div class="faq__purple-right"></div>
				<div class="g-title sliding-txt faq__title" data-aos="">
					<p class="mini"><span>F.A.Q.</span></p>
					<p><span>Frequently asked questions</span></p>
				</div>	
				<ul class="faq__list">
					<li data-aos="fade-up" data-aos-delay="100" data-aos-anchor="faq__list">
						<div class="faq__icon"><img src="images/svg/ic-network.svg" alt="" /></div>
						<p class="faq__subtitle">Are You Going To Open A Bank?</p>
						<p class="faq__desc">No. Banks take clients’ money in custody and use it to generate profits. GetLine will never be in possession of your crypto assets. Thanks to Smart Contracts’ immutability, the loan capital will never be in any other hands other than lenders and borrowers. Also, as GetLine does not have to cope with the lending risk, the risk premium goes directly to the lenders.</p>
					</li>
					<li data-aos="fade-up" data-aos-delay="200" data-aos-anchor="faq__list">
						<div class="faq__icon"><img src="images/svg/ic-new.svg" alt="" /></div>
						<p class="faq__subtitle">What Are GET Tokens’ Purposes?</p>
						<p class="faq__desc">See Chapter 8 of our whitepaper.</p>
						<ol>
							<li>Loans’ collateralization</li>
							<li>ARAs’ reserve</li>
							<li>Network Trust Fee</li>
							<li>Preventing fraud in a P2P decentralized lending environment</li>
						</ol>
					</li>
					<li data-aos="fade-up" data-aos-delay="400" data-aos-anchor="faq__list">
						<div class="faq__icon"><img src="images/svg/ic-new.svg" alt="" /></div>
						<p class="faq__subtitle">How Is Your Product Different/Better From Already Established Platforms Like Lending Club Or BitBond?</p>
						<p class="faq__desc">The exact differences are specified in our whitepaper in chapter 6, “Competition”. In short, the benefits of GetLine over the Lending Club include:</p>
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<ol>
									<li>safer lending - smart contracts are immutable, parties know exactly the rules of each contract</li>
									<li>borderless nature</li>
									<li>a robust &amp; competitive credit risk assessment market</li>
									<li>no costs of keeping financial assets</li>
								</ol>
							</div>
							<div class="col-xs-12 col-sm-6">
								<p class="faq__desc">Benefits of GetLine over BitBond include:</p>
								<ol>
									<li>safer lending - smart contracts are immutable, parties know exactly the rules of each contract</li>
									<li>a robust &amp; competitive credit risk assessment market</li>
								</ol>
							</div>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="" data-aos-anchor="faq__list">
						<div class="faq__icon"><img src="images/svg/ic-organization.svg" alt="" /></div>
						<p class="faq__subtitle">What Problem Is GetLine Solving?</p>
						<p class="faq__desc">GetLine bridges the gap between lenders and borrowers from different social networks, and lowers the risk of defaulting on a loan within these classes. GetLine also provides all of the tools needed for individuals to easily apply for loans as borrowers, and to browse and fund loans as lenders.</p>
					</li>
					<li data-aos="fade-up" data-aos-delay="300" data-aos-anchor="faq__list">
						<div class="faq__icon"><img src="images/svg/ic-coinstack.svg" alt="" /></div>
						<p class="faq__subtitle">What Are Attesters of Risk Assessment (ARAs)?</p>
						<p class="faq__desc">Our credit risk scoring network is made up of entities providing risk-evaluation of borrowers’ creditworthiness, effectively creating a prediction market. Each ARA being a legally compliant agent, ensures the feasibility of a legal lending contract on the basis of jurisdiction.</p>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</section>