<section class="features">
	<div class="container">
		<div class="col-xs-12 text-center">
			<h3 class="g-title__big sliding-txt" data-aos="" data-aos-anchor=".features">
				<p><span>Features</span></p>
			</h3>
			<p class="g-desc features__desc" data-aos="fade-up">Although these are not “our” services (per say), as they are part of peer-to-peer (P2P) platform, they are what will be available on the GetLine Network.</p>
		</div>
		<div class="features__row">
			<div class="col-xs-12 col-sm-6 features__left" data-aos="">
				<img src="images/svg/logotypes-background-copy.svg" alt="" class="features__img1"/>
				<img src="images/first-page.png" alt="" class="features__img2" data-parallax="80"/>
				<img src="images/second-page.png" alt="" class="features__img3" data-parallax="75"/>
			</div>
			<div class="col-xs-12 col-sm-6 features__right">
				<div class="g-title sliding-txt" data-aos="">
					<p><span>Get a loan</span></p>
				</div>
				<p class="g-desc features__desc2" data-aos="fade-up">Through the GetLine Network, almost anyone can get a loan, even potentially if they have a previously bad credit score. Everyone is required to be responsible and have skin in the game.</p>
			</div>
		</div>

		<div class="features__row gradient">
			<div class="col-xs-12 col-sm-6 col-sm-push-6" data-aos="">
				<div class="features__faces" data-aos="">
					<div class="features__circle"></div>
					<div class="features__face1"><span>D</span></div>
					<div class="features__face2"><span>D</span></div>
					<div class="features__face3"><span>B</span></div>
					<div class="features__face4"><span>A</span></div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6 features__right">
				<div class="features__gradient" data-aos="flip-left"></div>
				<div class="g-title sliding-txt" data-aos="">
					<p><span>Get and build up</span></p>
					<p><span>your credit score</span></p>
				</div>
				<p class="g-desc features__desc2" data-aos="fade-up">As you repay your loans, and gain back your collecteral, you will be building a better credit score that can be seen and recognized on the blockchain and off of the blockchain.</p>
				<p class="g-desc features__desc2" data-aos="fade-up" data-aos-delay="150">Don’t have a credit score? No problem, our platform will assist you in gaining one.</p>
			</div>
		</div>

		<div class="features__row">
			<div class="col-xs-12 col-sm-6 col-sm-push-6" data-aos="">
				<div class="features__card">
					<img src="images/card.png" alt="" class="features__card-img0" data-aos="fade-down" />
					<img src="images/svg/rectangle-20.svg" alt="" class="features__card-img1" data-aos="fade-left" data-parallax="60"/>
					<img src="images/svg/rectangle-20-copy-3.svg" alt="" class="features__card-img2" data-aos="fade-right" data-parallax="-50"/>
					<img src="images/svg/rectangle-20-1.svg" alt="" class="features__card-img3" data-aos="fade-up" data-parallax="-95"/>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-pull-6">
				<div class="g-title sliding-txt" data-aos="">
					<p><span>Gain a legal identity</span></p>
				</div>
				<p class="g-desc features__desc2" data-aos="fade-up">We use trusted blockchain-based identifications services, such as Boson, to give recognized identities to those who have none.</p>
				<p class="g-desc features__desc2" data-aos="fade-up" data-aos-delay="150">This enables even a person with no previous ID to eventually apply for a loan on our platform.</p>
				<div data-aos="fade-up" data-aos-delay="250">
					<a href="https://boson.me/" class="features__boson" target="_blank">Check boson</a>
				</div>
			</div>
		</div>

	</div>
</section>