<section class="newsletter" data-aos="flip-up">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-offset-1">
				<p class="newsletter__title">Subscribe our newsletter</p>
				<p class="newsletter__desc">Be the first who will know about all news and updates</p>
			</div>
			<div class="col-xs-12 col-sm-5 newsletter__right">
				<form action="//getline.us9.list-manage.com/subscribe/post?u=7bc1a4c7ce2a2603021e54b2b&amp;id=da1681908d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<div id="mc_embed_signup_scroll">
						<input type="email" name="EMAIL" class="newsletter__input required email" id="mce-EMAIL" placeholder="Email address">
						<button type="submit" class="newsletter__btn btn">Sign up</button>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7bc1a4c7ce2a2603021e54b2b_da1681908d" tabindex="-1" value=""></div>
						
					  </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>