<section class="our-team" data-aos="" id="team">
	<div class="container">
		<div class="col-xs-12">
			<div class="g-title sliding-txt" data-aos="">
				<p class="mini"><span>GETLINE</span></p>
				<p><span>Our team</span></p>
			</div>	
		</div>
		<ul class="our-team__list owl-carousel first" data-aos="fade-up"></ul>
		<div class="col-xs-12">
			<div class="g-title sliding-txt our-team__second" data-aos="">
				<p class="mini"><span>GETLINE</span></p>
				<p><span>Our advisors</span></p>
			</div>	
		</div>
		<ul class="our-team__list owl-carousel second" data-aos="fade-up"></ul>
	</div>
</section>