<section class="roadmap" data-aos="">
	<div class="container">
		<div class="col-xs-12">
			<h4 class="g-title sliding-txt" data-aos="" data-aos-anchor=".roadmap">
				<p><span>Roadmap</span></p>
			</h4>
			<ul class="roadmap__timeline">
				<li data-aos="fade-right" data-aos-anchor=".roadmap__timeline">
					<span class="roadmap__date">August 2017</span>
					<p>Lunch on Testnet</p>
				</li>
				<li data-aos="fade-right" data-aos-anchor=".roadmap__timeline" data-aos-delay="150">
					<span class="roadmap__date">Q1 2018</span>
					<p>Next version</p>
				</li>
				<li data-aos="fade-right" data-aos-anchor=".roadmap__timeline" data-aos-delay="300">
					<span class="roadmap__date">Q2 2018</span>
					<p>See whitepaper</p>
				</li>
				<li data-aos="fade-right" data-aos-anchor=".roadmap__timeline" data-aos-delay="450">
					<span class="roadmap__date">Q3 2018</span>
					<p>See whitepaper</p>
				</li>
			</ul>
			<div class="roadmap__final" data-aos="fade-up" data-aos-anchor=".roadmap__timeline" data-aos-delay="550">
				<span>Early 2019</span>
				See whitepaper
			</div>
		</div>
	</div>
</section>