<section class="supporter" data-aos="">
	<div class="container">
		<div class="col-xs-12 col-sm-5" data-aos="fade-right">
			<h4 class="g-title sliding-txt supporter__title" data-aos="" data-aos-anchor=".supporter">
				<p><span>Become An Attester</span></p>
				<p><span>of Risk Assessment (ARA)</span></p>
			</h4>
			<p class="g-desc">If you’re an existing credit scoring agent, you can join our platform and offer your services here as one of our ARAs, providing evaluation of borrowers’ creditworthiness (effectively forming a prediction market)</p>
		</div>
		<div class="col-xs-12 col-sm-5 col-sm-offset-2" data-aos="fade-left">
			<h4 class="g-title sliding-txt supporter__title second" data-aos="" data-aos-anchor=".supporter">
				<p><span>Become a supporter</span></p>
			</h4>
			<p class="g-desc">Join our network, browse loan requests and profiles or borrowers, as well as the past accuracy metascore of the Attestor of Risk Assessment (who has verified particular loan request), and bid for the lowest interest rate.</p>
			<p class="g-desc">Invest in loans you comfortable with.</p>
		</div>
	</div>
</section>