<section class="wig" id="about-us">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<div class="wig__shapes" data-aos="">
				<div class="wig__circle"></div>
				<div class="wig__purple" data-parallax="50"></div>
				<div class="wig__black" data-parallax="-80"></div>
			</div>
			<h3 class="g-title sliding-txt wig__title" data-aos="" data-aos-anchor=".wig">
				<p><span>What is Getline?</span></p>
				<p class="subtitle"><span>New network possibilities</span></p>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-6 wig__col">
			<p class="g-desc wig__desc" data-aos="fade-up" data-aos-delay="100" data-aos-anchor=".wig">We offer credit scoring, crowdfunded loans, investing opportunities for people around the world.</p>
			<p class="g-desc wig__desc" data-aos="fade-up" data-aos-delay="150" data-aos-anchor=".wig">We are buidling network of Attestors of Risk Assessment (ARA), who will be able to give accurate risk analysis for the chances of borrower defaulting on a loan.</p>
			<div class="wig__btns" data-aos="fade-up" data-aos-delay="200" data-aos-anchor=".wig">
				<a href="https://landing.getline.in/whitepaper.pdf" class="btn" target="_blank">Whitepaper</a>
				<a href="https://medium.com/getline-in" class="btn btn--outline" target="_blank">Blog</a>
			</div>
			<div class="wig__line" data-aos=""></div>
		</div>
	</div>
</section>